/* css for the linklist module site */
#linklist-empty-txt {
	visibility:hidden;
	display:none;
	padding-bottom:20px;
}

.toggle-view-mode {
	padding-bottom:20px;
	float:left;
}

.panel-linklist-category {
	
}

.panel-linklist-category .panel-heading .heading {
	position:relative;	
	padding:0;	
}

.panel-linklist-category .panel-body {
	
}

.panel-linklist-category .panel-body .media .media-heading {
	
}

.panel-linklist-category .panel-body .media .media-heading {
	margin:0;
	padding-bottom:15px;
}

.panel-linklist-category .panel-body .media .media-body {
	
}

.panel-linklist-category .panel-body .media .media-body ul {
	
}

.panel-linklist-category .panel-body .media .media-body ul li {
	position:relative;
	padding-bottom:10px;
}

.panel-linklist-category .panel-body .media .media-body ul li:last-child {
	padding-bottom:0;
}

.panel-linklist-category .linklist-interaction-controls {
	font-size: 11px;
	color: #AEAEAE;
}

.panel-linklist-category .linklist-interaction-controls a {
	font-size: 11px;
	color: #AEAEAE;
}

.panel-linklist-category .linklist-edit-controls {
	position:absolute;
	display:inline;
	top:0;
	right:0;
}

.panel-linklist-category .btn-xs.btn-danger, .panel-linklist-category .btn-xs.btn-primary {
    opacity: 0.4;
}

.panel-linklist-category .btn-xs.btn-danger:hover, .panel-linklist-category .btn-xs.btn-primary:hover {
    opacity: 1;
}


.panel-linklist-category .linklist-edit-controls a {
	padding-left:4px;
}

.panel-linklist-category .fa {
    font-size: 14px;
    /*width: 16px;*/
}

/* css for the linklist module widget */
.panel-linklist-widget {
	
}

.panel-linklist-widget .panel-heading {
	
}

.panel-linklist-widget .linklist-body {
	padding-bottom:10px;
	font-size:13px;
}

.panel-linklist-widget .linklist-body .scrollable-content-container {
	max-height:200px;
	overflow: hidden;	
}

.panel-linklist-widget .linklist-body .scrollable-content-container .media {
	border-bottom: 1px solid #EEE;
	margin:0;
	padding:5px 10px 5px 10px;
}

.panel-linklist-widget .linklist-body .scrollable-content-container .media:last-child {
	border:none;
	padding-bottom:0;
}

.panel-linklist-widget .linklist-body .scrollable-content-container .media:first-child {
	padding-top:0;
}

.panel-linklist-widget .linklist-body .scrollable-content-container .media-heading {
	font-weight: bold;
}

.panel-linklist-widget .linklist-body .scrollable-content-container .media-list {
	
}

.panel-linklist-widget .linklist-body .scrollable-content-container .media-list li {
	border-bottom:none;
	border-top:none;
	padding:2px 10px 2px 20px;
	margin-left:-10px;
	margin-right:-10px;
}

.panel-linklist-widget .linklist-body .scrollable-content-container .media-list li a {
	display: block;
}

ul.linklist-links {
    padding-left:40px; list-style:none;
}

ul.linklist-links li { margin-bottom:10px; }
ul.linklist-links li:before {
    font-family: 'FontAwesome';
    font-size: 14px;
    content: '\f0c1';
    margin: 0 6px 0 -22px;
}

.linklist-link .title {
    font-size: 14px;
    font-weight: bold;
}


.linklist-links .link-description {
    margin-bottom: 5px;
    font-size: 12px;
}

/* css for the linklist wall-entry widget */